In [2]:
import pandas as pd 
import numpy as np

In [3]:
df=pd.read_csv('ramen-ratings.csv')

In [4]:
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [5]:
df=df[df.Stars!='Unrated']

In [64]:
df.Stars=df.Stars.astype(float)

In [65]:
df.Stars

0       3.0
1       1.0
2       2.0
3       2.0
4       3.0
       ...
2575    3.0
2576    1.0
2577    2.0
2578    2.0
2579    0.0
Name: Stars, Length: 2577, dtype: float64

In [66]:
df.Stars>2.5

0        True
1       False
2       False
3       False
4        True
        ...
2575     True
2576    False
2577    False
2578    False
2579    False
Name: Stars, Length: 2577, dtype: bool

In [67]:
df.loc[(df.Country=='Taiwan') &(df.Stars>2.5)]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
40,2540,hi,GGE Noodle Snack Wheat Crackers Mexican Spicy,Pack,Taiwan,3.0,NaN,False
65,2515,hi,Man Han Feast Spicy Beef Flavor Instant Noodles,Bowl,Taiwan,5.0,NaN,False
68,2512,hi,Dan Dan Noodle,Pack,Taiwan,5.0,NaN,False
79,2501,hi,Toona Paste Noodle,Pack,Taiwan,4.0,NaN,False
98,2482,hi,Chicken With Chinese Shaoxing Wine,Pack,Taiwan,4.0,NaN,False
...,...,...,...,...,...,...,...,...
2499,81,hi,Artificial Spicy Beef,Pack,Taiwan,3.0,NaN,False
2500,80,hi,Artificial Chicken,Pack,Taiwan,3.0,NaN,False
2512,68,hi,Jah Jan Mien Instant Noodle With Fried Soybean...,Pack,Taiwan,4.0,NaN,False
2522,58,hi,A-One Bun Tom Shrimp,Pack,Taiwan,3.0,NaN,False
2572,8,hi,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3.0,NaN,False

In [ ]:
df.loc[(df.Country=='Taiwan') &(df.Stars>2.5),['Brand','Style','Country']]

In [69]:
df.loc[df.Country.isin(['Finland','Sweden'])]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
675,1905,hi,Nuudeli Kana Nudlar Kyckling,Pack,Finland,3.0,NaN,False
816,1764,hi,Nuudeli Tom Yum Katkarapu,Pack,Finland,3.0,NaN,False
856,1724,hi,Nuudeli Liha Nudlar Kott,Pack,Finland,3.0,NaN,False
1026,1554,hi,Asia Fast Noodles Snabbnudlar Räksmak,Pack,Sweden,3.0,NaN,False
1063,1517,hi,Instant Noodles Spicy Chili,Pack,Sweden,3.0,NaN,False
1093,1487,hi,Asia Snabbnudlar Kycklingsmak,Pack,Sweden,3.0,NaN,False

In [70]:
df.isnull()

      Review #  Brand  Variety  Style  Country  Stars  Top Ten  isStyleCup
0        False  False    False  False    False  False     True       False
1        False  False    False  False    False  False     True       False
2        False  False    False  False    False  False     True       False
3        False  False    False  False    False  False     True       False
4        False  False    False  False    False  False     True       False
...        ...    ...      ...    ...      ...    ...      ...         ...
2575     False  False    False  False    False  False     True       False
2576     False  False    False  False    False  False     True       False
2577     False  False    False  False    False  False     True       False
2578     False  False    False  False    False  False     True       False
2579     False  False    False  False    False  False     True       False

[2577 rows x 8 columns]

In [71]:
df[~df['Top Ten'].isnull()]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
616,1964,hi,Instant Noodles Coconut Milk Flavour,Pack,Myanmar,5.0,2016 #10,False
633,1947,hi,Singapore Laksa Wholegrain La Mian,Pack,Singapore,5.0,2016 #1,False
655,1925,hi,Juzz's Mee Creamy Chicken Flavour,Pack,Singapore,5.0,2016 #8,False
673,1907,hi,Singapore Curry Wholegrain La Mian,Pack,Singapore,5.0,2016 #5,False
752,1828,hi,Scallion With Sichuan Pepper Flavor,Pack,Taiwan,5.0,2016 #9,False
891,1689,hi,Tomato Beef Brisket Flavor Purple Potato Noodle,Pack,China,5.0,2016 #7,False
942,1638,hi,Veggie Noodle Tomato Noodle With Vine Ripened ...,Pack,Taiwan,5.0,2015 #10,False
963,1617,hi,Penang Hokkien Prawn Noodle (New Improved Taste),Pack,Malaysia,5.0,2015 #7,False
995,1585,hi,Nyonya Curry Laksa,Pack,Malaysia,5.0,2015 #4,False
1059,1521,hi,Gotsumori Sauce Yakisoba,Tray,Japan,5.0,2015 #9,False
1072,1508,hi,Chef Gold Recipe Mi Kari Seribu Rasa,Pack,Malaysia,5.0,2015 #6,False
1080,1500,hi,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5.0,2015 #1,False
1109,1471,hi,Instant Noodles Shrimp Creamy Tom Yum Flavour ...,Pack,Thailand,5.0,2013 #10,False
1114,1466,hi,Oriental Style Instant Noodles Green Curry Fla...,Pack,Thailand,5.0,2015 #8,False
1230,1350,hi,Chef Curry Laksa Flavour,Pack,Malaysia,5.0,2014 #7,False
1250,1330,hi,Otafuku Okonomi Sauce Yakisoba,Tray,Japan,5.0,2014 #4,False
1272,1308,hi,Soon Veggie Noodle Soup,Pack,South Korea,5.0,2014 #9,False
1278,1302,hi,Instant Noodles Yentafo Tom Yum Mohfai Flavour,Pack,Thailand,5.0,2014 #10,False
1309,1271,hi,Singapore Chilli Crab La Mian,Pack,Singapore,5.0,2014 #8,False
1382,1198,hi,Maesaengyitangmyun Baked Noodle,Pack,South Korea,5.0,2014 #5,False
1397,1183,hi,Cheese Noodle,Pack,South Korea,5.0,2014 #6,False
1493,1087,hi,Penang White Curry Noodle,Pack,Malaysia,5.0,2014 #1,False
1588,992,hi,Singapore Laksa La Mian,Pack,Singapore,5.0,2013 #1,False
1589,991,hi,Singapore Curry La Mian,Pack,Singapore,5.0,2013 #2,False
1646,934,hi,Jinjja Jinjja Flamin' Hot & Nutty,Pack,USA,5.0,2013 #4,False
1670,910,hi,Namja Ramyun,Bowl,South Korea,4.0,\n,False
1757,823,hi,Kokomen Spicy Chicken,Pack,South Korea,5.0,2013 #9,False
1846,734,hi,Mi Goreng Rasa Ayam Panggang Jumbo (Local),Pack,Indonesia,5.0,\n,False
1865,715,hi,Mi Goreng Rendang (Import),Pack,Indonesia,5.0,2013 #3,False
1972,608,hi,Spicy Black Pepper,Pack,Singapore,5.0,2012 #10,False
2002,578,hi,Shin Ramyun Black,Pack,South Korea,4.0,2012 #7,False
2146,434,hi,Kari Spesial,Pack,Indonesia,4.0,2012 #5,False
2188,392,hi,Yakisoba Noodles Karashi,Tray,Japan,5.0,2012 #3,False
2189,391,hi,Hyoubanya No Chukasoba Oriental,Pack,Japan,4.0,2012 #6,False
2248,332,hi,Champong Oriental Noodles,Cup,South Korea,3.0,\n,True
2295,285,hi,Artificial Chicken,Pack,Hong Kong,4.0,2012 #9,False
2475,105,hi,Special Fried Curly Noodle,Pack,Indonesia,5.0,2012 #1,False
2533,47,hi,Mi Goreng Jumbo Barbecue Chicken,Pack,Indonesia,5.0,2012 #2,False
2535,45,hi,Mi Goreng Sate,Pack,Indonesia,5.0,\n,False
2549,31,hi,Ippeichan Yakisoba,Tray,Japan,4.0,2013 #6,False
2567,13,hi,Chow Mein,Pack,Japan,5.0,2012 #4,False

In [72]:
df[df['Top Ten'].notnull()]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
616,1964,hi,Instant Noodles Coconut Milk Flavour,Pack,Myanmar,5.0,2016 #10,False
633,1947,hi,Singapore Laksa Wholegrain La Mian,Pack,Singapore,5.0,2016 #1,False
655,1925,hi,Juzz's Mee Creamy Chicken Flavour,Pack,Singapore,5.0,2016 #8,False
673,1907,hi,Singapore Curry Wholegrain La Mian,Pack,Singapore,5.0,2016 #5,False
752,1828,hi,Scallion With Sichuan Pepper Flavor,Pack,Taiwan,5.0,2016 #9,False
891,1689,hi,Tomato Beef Brisket Flavor Purple Potato Noodle,Pack,China,5.0,2016 #7,False
942,1638,hi,Veggie Noodle Tomato Noodle With Vine Ripened ...,Pack,Taiwan,5.0,2015 #10,False
963,1617,hi,Penang Hokkien Prawn Noodle (New Improved Taste),Pack,Malaysia,5.0,2015 #7,False
995,1585,hi,Nyonya Curry Laksa,Pack,Malaysia,5.0,2015 #4,False
1059,1521,hi,Gotsumori Sauce Yakisoba,Tray,Japan,5.0,2015 #9,False
1072,1508,hi,Chef Gold Recipe Mi Kari Seribu Rasa,Pack,Malaysia,5.0,2015 #6,False
1080,1500,hi,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5.0,2015 #1,False
1109,1471,hi,Instant Noodles Shrimp Creamy Tom Yum Flavour ...,Pack,Thailand,5.0,2013 #10,False
1114,1466,hi,Oriental Style Instant Noodles Green Curry Fla...,Pack,Thailand,5.0,2015 #8,False
1230,1350,hi,Chef Curry Laksa Flavour,Pack,Malaysia,5.0,2014 #7,False
1250,1330,hi,Otafuku Okonomi Sauce Yakisoba,Tray,Japan,5.0,2014 #4,False
1272,1308,hi,Soon Veggie Noodle Soup,Pack,South Korea,5.0,2014 #9,False
1278,1302,hi,Instant Noodles Yentafo Tom Yum Mohfai Flavour,Pack,Thailand,5.0,2014 #10,False
1309,1271,hi,Singapore Chilli Crab La Mian,Pack,Singapore,5.0,2014 #8,False
1382,1198,hi,Maesaengyitangmyun Baked Noodle,Pack,South Korea,5.0,2014 #5,False
1397,1183,hi,Cheese Noodle,Pack,South Korea,5.0,2014 #6,False
1493,1087,hi,Penang White Curry Noodle,Pack,Malaysia,5.0,2014 #1,False
1588,992,hi,Singapore Laksa La Mian,Pack,Singapore,5.0,2013 #1,False
1589,991,hi,Singapore Curry La Mian,Pack,Singapore,5.0,2013 #2,False
1646,934,hi,Jinjja Jinjja Flamin' Hot & Nutty,Pack,USA,5.0,2013 #4,False
1670,910,hi,Namja Ramyun,Bowl,South Korea,4.0,\n,False
1757,823,hi,Kokomen Spicy Chicken,Pack,South Korea,5.0,2013 #9,False
1846,734,hi,Mi Goreng Rasa Ayam Panggang Jumbo (Local),Pack,Indonesia,5.0,\n,False
1865,715,hi,Mi Goreng Rendang (Import),Pack,Indonesia,5.0,2013 #3,False
1972,608,hi,Spicy Black Pepper,Pack,Singapore,5.0,2012 #10,False
2002,578,hi,Shin Ramyun Black,Pack,South Korea,4.0,2012 #7,False
2146,434,hi,Kari Spesial,Pack,Indonesia,4.0,2012 #5,False
2188,392,hi,Yakisoba Noodles Karashi,Tray,Japan,5.0,2012 #3,False
2189,391,hi,Hyoubanya No Chukasoba Oriental,Pack,Japan,4.0,2012 #6,False
2248,332,hi,Champong Oriental Noodles,Cup,South Korea,3.0,\n,True
2295,285,hi,Artificial Chicken,Pack,Hong Kong,4.0,2012 #9,False
2475,105,hi,Special Fried Curly Noodle,Pack,Indonesia,5.0,2012 #1,False
2533,47,hi,Mi Goreng Jumbo Barbecue Chicken,Pack,Indonesia,5.0,2012 #2,False
2535,45,hi,Mi Goreng Sate,Pack,Indonesia,5.0,\n,False
2549,31,hi,Ippeichan Yakisoba,Tray,Japan,4.0,2013 #6,False
2567,13,hi,Chow Mein,Pack,Japan,5.0,2012 #4,False

Assining Data

In [1]:
df['Brand']='hi'
df.Brand

NameError: name 'df' is not defined

In [16]:
df['isStyleCup']=df.Style=='Cup'

In [17]:
df.isStyleCup

0        True
1       False
2        True
3       False
4       False
        ...
2575    False
2576    False
2577    False
2578    False
2579    False
Name: isStyleCup, Length: 2577, dtype: bool

In [18]:
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
0,2580,hi,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,True
1,2579,hi,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,False
2,2578,hi,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,True
3,2577,hi,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,False
4,2576,hi,Singapore Curry,Pack,India,3.75,NaN,False
...,...,...,...,...,...,...,...,...
2575,5,hi,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN,False
2576,4,hi,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN,False
2577,3,hi,Tom Yum Shrimp,Pack,Thailand,2.00,NaN,False
2578,2,hi,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN,False
2579,1,hi,Miso Ramen,Pack,USA,0.50,NaN,False

In [19]:
df['Review #']==list(range(1,2578))

0       False
1       False
2       False
3       False
4       False
        ...
2575    False
2576    False
2577    False
2578    False
2579    False
Name: Review #, Length: 2577, dtype: bool

Handling Missing Data

In [20]:
df[df['Top Ten'].isnull()]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
0,2580,hi,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,True
1,2579,hi,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,False
2,2578,hi,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,True
3,2577,hi,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,False
4,2576,hi,Singapore Curry,Pack,India,3.75,NaN,False
...,...,...,...,...,...,...,...,...
2575,5,hi,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN,False
2576,4,hi,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN,False
2577,3,hi,Tom Yum Shrimp,Pack,Thailand,2.00,NaN,False
2578,2,hi,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN,False
2579,1,hi,Miso Ramen,Pack,USA,0.50,NaN,False

In [21]:
df.isnull()

      Review #  Brand  Variety  Style  Country  Stars  Top Ten  isStyleCup
0        False  False    False  False    False  False     True       False
1        False  False    False  False    False  False     True       False
2        False  False    False  False    False  False     True       False
3        False  False    False  False    False  False     True       False
4        False  False    False  False    False  False     True       False
...        ...    ...      ...    ...      ...    ...      ...         ...
2575     False  False    False  False    False  False     True       False
2576     False  False    False  False    False  False     True       False
2577     False  False    False  False    False  False     True       False
2578     False  False    False  False    False  False     True       False
2579     False  False    False  False    False  False     True       False

[2577 rows x 8 columns]

In [22]:
df.isnull().sum(axis=0)

Review #         0
Brand            0
Variety          0
Style            2
Country          0
Stars            0
Top Ten       2536
isStyleCup       0
dtype: int64

In [23]:
df.shape

(2577, 8)

In [24]:
df.isnull().sum(axis=0)/df.shape[0]

Review #      0.000000
Brand         0.000000
Variety       0.000000
Style         0.000776
Country       0.000000
Stars         0.000000
Top Ten       0.984090
isStyleCup    0.000000
dtype: float64

Drop the row that contain nan

In [25]:
df.dropna()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
616,1964,hi,Instant Noodles Coconut Milk Flavour,Pack,Myanmar,5.00,2016 #10,False
633,1947,hi,Singapore Laksa Wholegrain La Mian,Pack,Singapore,5.00,2016 #1,False
655,1925,hi,Juzz's Mee Creamy Chicken Flavour,Pack,Singapore,5.00,2016 #8,False
673,1907,hi,Singapore Curry Wholegrain La Mian,Pack,Singapore,5.00,2016 #5,False
752,1828,hi,Scallion With Sichuan Pepper Flavor,Pack,Taiwan,5.00,2016 #9,False
891,1689,hi,Tomato Beef Brisket Flavor Purple Potato Noodle,Pack,China,5.00,2016 #7,False
942,1638,hi,Veggie Noodle Tomato Noodle With Vine Ripened ...,Pack,Taiwan,5.00,2015 #10,False
963,1617,hi,Penang Hokkien Prawn Noodle (New Improved Taste),Pack,Malaysia,5.00,2015 #7,False
995,1585,hi,Nyonya Curry Laksa,Pack,Malaysia,5.00,2015 #4,False
1059,1521,hi,Gotsumori Sauce Yakisoba,Tray,Japan,5.00,2015 #9,False
1072,1508,hi,Chef Gold Recipe Mi Kari Seribu Rasa,Pack,Malaysia,5.00,2015 #6,False
1080,1500,hi,Penang Red Tom Yum Goong Noodle,Pack,Malaysia,5.00,2015 #1,False
1109,1471,hi,Instant Noodles Shrimp Creamy Tom Yum Flavour ...,Pack,Thailand,5.00,2013 #10,False
1114,1466,hi,Oriental Style Instant Noodles Green Curry Fla...,Pack,Thailand,5.00,2015 #8,False
1230,1350,hi,Chef Curry Laksa Flavour,Pack,Malaysia,5.00,2014 #7,False
1250,1330,hi,Otafuku Okonomi Sauce Yakisoba,Tray,Japan,5.00,2014 #4,False
1272,1308,hi,Soon Veggie Noodle Soup,Pack,South Korea,5.00,2014 #9,False
1278,1302,hi,Instant Noodles Yentafo Tom Yum Mohfai Flavour,Pack,Thailand,5.00,2014 #10,False
1309,1271,hi,Singapore Chilli Crab La Mian,Pack,Singapore,5.00,2014 #8,False
1382,1198,hi,Maesaengyitangmyun Baked Noodle,Pack,South Korea,5.00,2014 #5,False
1397,1183,hi,Cheese Noodle,Pack,South Korea,5.00,2014 #6,False
1493,1087,hi,Penang White Curry Noodle,Pack,Malaysia,5.00,2014 #1,False
1588,992,hi,Singapore Laksa La Mian,Pack,Singapore,5.00,2013 #1,False
1589,991,hi,Singapore Curry La Mian,Pack,Singapore,5.00,2013 #2,False
1646,934,hi,Jinjja Jinjja Flamin' Hot & Nutty,Pack,USA,5.00,2013 #4,False
1670,910,hi,Namja Ramyun,Bowl,South Korea,4.25,\n,False
1757,823,hi,Kokomen Spicy Chicken,Pack,South Korea,5.00,2013 #9,False
1846,734,hi,Mi Goreng Rasa Ayam Panggang Jumbo (Local),Pack,Indonesia,5.00,\n,False
1865,715,hi,Mi Goreng Rendang (Import),Pack,Indonesia,5.00,2013 #3,False
1972,608,hi,Spicy Black Pepper,Pack,Singapore,5.00,2012 #10,False
2002,578,hi,Shin Ramyun Black,Pack,South Korea,4.75,2012 #7,False
2146,434,hi,Kari Spesial,Pack,Indonesia,4.50,2012 #5,False
2188,392,hi,Yakisoba Noodles Karashi,Tray,Japan,5.00,2012 #3,False
2189,391,hi,Hyoubanya No Chukasoba Oriental,Pack,Japan,4.25,2012 #6,False
2248,332,hi,Champong Oriental Noodles,Cup,South Korea,3.75,\n,True
2295,285,hi,Artificial Chicken,Pack,Hong Kong,4.50,2012 #9,False
2475,105,hi,Special Fried Curly Noodle,Pack,Indonesia,5.00,2012 #1,False
2533,47,hi,Mi Goreng Jumbo Barbecue Chicken,Pack,Indonesia,5.00,2012 #2,False
2535,45,hi,Mi Goreng Sate,Pack,Indonesia,5.00,\n,False
2549,31,hi,Ippeichan Yakisoba,Tray,Japan,4.00,2013 #6,False
2567,13,hi,Chow Mein,Pack,Japan,5.00,2012 #4,False

In [26]:
df.dropna().shape

(41, 8)

Drop the columns that contain nan

In [27]:
df.dropna(axis='columns',inplace= False)

,Review #,Brand,Variety,Country,Stars,isStyleCup
0,2580,hi,T's Restaurant Tantanmen,Japan,3.75,True
1,2579,hi,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Taiwan,1.00,False
2,2578,hi,Cup Noodles Chicken Vegetable,USA,2.25,True
3,2577,hi,GGE Ramen Snack Tomato Flavor,Taiwan,2.75,False
4,2576,hi,Singapore Curry,India,3.75,False
...,...,...,...,...,...,...
2575,5,hi,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Vietnam,3.50,False
2576,4,hi,Oriental Style Instant Noodles,Thailand,1.00,False
2577,3,hi,Tom Yum Shrimp,Thailand,2.00,False
2578,2,hi,Tom Yum Chili Flavor,Thailand,2.00,False
2579,1,hi,Miso Ramen,USA,0.50,False

In [28]:
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
0,2580,hi,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,True
1,2579,hi,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,False
2,2578,hi,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,True
3,2577,hi,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,False
4,2576,hi,Singapore Curry,Pack,India,3.75,NaN,False
...,...,...,...,...,...,...,...,...
2575,5,hi,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN,False
2576,4,hi,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN,False
2577,3,hi,Tom Yum Shrimp,Pack,Thailand,2.00,NaN,False
2578,2,hi,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN,False
2579,1,hi,Miso Ramen,Pack,USA,0.50,NaN,False

In [29]:
df.dropna(subset =['Brand'])

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
0,2580,hi,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,True
1,2579,hi,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,False
2,2578,hi,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,True
3,2577,hi,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,False
4,2576,hi,Singapore Curry,Pack,India,3.75,NaN,False
...,...,...,...,...,...,...,...,...
2575,5,hi,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN,False
2576,4,hi,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN,False
2577,3,hi,Tom Yum Shrimp,Pack,Thailand,2.00,NaN,False
2578,2,hi,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN,False
2579,1,hi,Miso Ramen,Pack,USA,0.50,NaN,False

In [30]:
df.dropna(subset =['Style'])

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
0,2580,hi,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,True
1,2579,hi,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,False
2,2578,hi,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,True
3,2577,hi,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,False
4,2576,hi,Singapore Curry,Pack,India,3.75,NaN,False
...,...,...,...,...,...,...,...,...
2575,5,hi,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN,False
2576,4,hi,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN,False
2577,3,hi,Tom Yum Shrimp,Pack,Thailand,2.00,NaN,False
2578,2,hi,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN,False
2579,1,hi,Miso Ramen,Pack,USA,0.50,NaN,False

Fill nan by values

In [31]:
df1=df.fillna(0)

In [32]:
df.loc[df['Style'].isnull()]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
2152,428,hi,E Menm Chicken,NaN,China,3.75,NaN,False
2442,138,hi,100 Furong Shrimp,NaN,Taiwan,3.00,NaN,False

In [33]:
df1.loc[df1['Style']==0]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
2152,428,hi,E Menm Chicken,0,China,3.75,0,False
2442,138,hi,100 Furong Shrimp,0,Taiwan,3.00,0,False

In [34]:
df1.loc[df1['Style'].isnull()]

Empty DataFrame
Columns: [Review #, Brand, Variety, Style, Country, Stars, Top Ten, isStyleCup]
Index: []

In [35]:
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
0,2580,hi,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,True
1,2579,hi,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,False
2,2578,hi,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,True
3,2577,hi,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,False
4,2576,hi,Singapore Curry,Pack,India,3.75,NaN,False
...,...,...,...,...,...,...,...,...
2575,5,hi,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN,False
2576,4,hi,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN,False
2577,3,hi,Tom Yum Shrimp,Pack,Thailand,2.00,NaN,False
2578,2,hi,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN,False
2579,1,hi,Miso Ramen,Pack,USA,0.50,NaN,False

In [36]:
df2=df.fillna({"Style":"Not Available","Top Ten":-1})

In [37]:
df.iloc[[2152,2442],:]

      Review # Brand       Variety Style Country  Stars Top Ten  isStyleCup
2155       425    hi   Shrimp Udon  Pack     USA   4.50     NaN       False
2445       135    hi  Fresh Shrimp  Pack  Taiwan   3.25     NaN       False

In [38]:
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,isStyleCup
0,2580,hi,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,True
1,2579,hi,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,False
2,2578,hi,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,True
3,2577,hi,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,False
4,2576,hi,Singapore Curry,Pack,India,3.75,NaN,False
...,...,...,...,...,...,...,...,...
2575,5,hi,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN,False
2576,4,hi,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN,False
2577,3,hi,Tom Yum Shrimp,Pack,Thailand,2.00,NaN,False
2578,2,hi,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN,False
2579,1,hi,Miso Ramen,Pack,USA,0.50,NaN,False

In [39]:
df['Style'].value_counts()

Pack    1528
Bowl     481
Cup      450
Tray     108
Box        6
Can        1
Bar        1
Name: Style, dtype: int64

In [40]:
df['Stars']= df['Stars'].replace( 'Unrated',np.nan)

In [54]:
df['Stars'].value_counts()

3.0    1043
4.0     741
5.0     386
2.0     250
1.0     103
0.0      54
Name: Stars, dtype: int64

In [55]:
df.dropna(subset=['Stars'],inplace=True)

In [73]:
df['Stars'].value_counts()

3.0    1043
4.0     741
5.0     386
2.0     250
1.0     103
0.0      54
Name: Stars, dtype: int64